@import './global.css';

.titulo-bg {
	background-color: var(--cor-neutra-100);
}

.titulo h1 {
	font: var(--fonte-primaria);
	color: var(--cor-neutra-500);
	text-align: center;
	padding: 18px;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding: 12px 4%;
}

.formulario {
	max-width: 570px;
}

input::placeholder,
select {
	font: var(--fonte-secundaria-md-b);
	color: var(--cor-neutra-200);
}

option {
	color: var(--cor-neutra-500);
}

.dados form {
	display: flex;
	flex-direction: column;
	max-width: 600px;
}

.dados label,
.local label,
.dados-cartao-credito label {
	font: var(--fonte-secundaria-md-b);
	color: var(--cor-neutra-500);
	width: 100%;
}

.dados input,
.dados-cartao-credito input {
	padding: 15px;
	margin-top: 5px;
	margin-bottom: 15px;
	background: var(--cor-neutra-100);
	border: none;
	border-radius: 5px;
	max-height: 50px;
	width: 100%;
	box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
}

.local,
.dados-cartao-credito {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
}

.local input,
.dados-cartao-credito input {
	display: block;
	width: 100%;
	max-width: 270px;
}

.local select,
.dados-cartao-credito select {
	width: 100%;
	padding: 10px;
	max-height: 50px;
	margin-top: 5px;
	margin-bottom: 15px;
	background: var(--cor-neutra-100);
	border: none;
	border-radius: 5px;
  outline: none;
  box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
}

.pagamento h2 {
	font: var(--fonte-secundaria-md-b);
	color: var(--cor-primaria-200);
	margin: 30px 0;
}

.box-pagamentos {
	display: flex;
	width: 400px;
	max-width: max-content;
	margin-bottom: 15px;
}

.option-cartao-credito {
	font: var(--fonte-secundaria-md-b);
	background-color: var(--cor-neutra-200);
	color: var(--cor-neutra-500);
	padding: 15px;
	max-width: max-content;
	border-radius: 5px 0 0 5px;
}

.option-boleto {
	font: var(--fonte-secundaria-md-b);
	background-color: var(--cor-neutra-100);
	color: var(--cor-neutra-500);
	padding: 15px;
	max-width: max-content;
	border-radius: 0 5px 5px 0;
}

.dados-cartao-credito .data {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
}

.concluir-matricula {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	margin-top: 30px;
}

.concluir-matricula p {
	font: var(--fonte-secundaria-md);
	color: var(--cor-neutra-500);
}

.concluir-matricula a {
	font: var(--fonte-secundaria-md-b);
	color: #fff;
	background-color: var(--cor-primaria-200);
	padding: 15px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	max-width: 260px;
}

.concluir-matricula a:hover {
	background: var(--cor-primaria-300);
}

.concluir-matricula span {
	display: flex;
	align-items: center;
	gap: 10px;
	font: var(--fonte-secundaria-sm);
	color: var(--cor-neutra-500);
}

.concluir-matricula span::before {
	content: '';
	width: 12px;
	height: 15px;
	background-image: url('../imgs/cadeado.svg');
}
