/* ESTILOS GERAIS */

:root {
	--cor-primaria-100: #269bff;
	--cor-primaria-200: #1188ee;
	--cor-primaria-300: #0467cc;
	--cor-secundaria-100: #ff3726;
	--cor-secundaria-200: #ee2211;
	--cor-secundaria-300: #d91504;
	--cor-neutra-100: #eff4f9;
	--cor-neutra-200: #bbccdd;
	--cor-neutra-300: #99aabb;
	--cor-neutra-400: #667788;
	--cor-neutra-500: #445566;
	--cor-neutra-600: #17222d;

	--fonte-primaria: 400 4.5rem Alice, sans-serif;
	--fonte-secundaria-lg: 400 1.5rem Nunito, sans-serif;
	--fonte-secundaria-md: 400 1.125rem Nunito, sans-serif;
	--fonte-secundaria-md-b: 700 1.125rem Nunito, sans-serif;
	--fonte-secundaria-sm: 400 0.875rem Nunito, sans-serif;
	--fonte-secundaria-sm-b: 700 0.875rem Nunito, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
}

@media (width <= 670px) {
	html {
		font-size: 0.8rem;
	}
}

/* CABEÇALHO */

header {
	background: var(--cor-primaria-200);
}

.cabecalho-superior {
	font: var(--fonte-secundaria-sm-b);
	color: #fff;
	padding: 5px 4%;
}

.cabecalho-inferior {
	background: var(--cor-neutra-600);
}

.cabecalho-inferior > div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	padding: 12px 4%;
}

.cabecalho-inferior ul {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.cabecalho-inferior ul li {
	display: flex;
	gap: 10px;
}

.cabecalho-inferior ul li img {
	padding: 0 5px;
}

.cabecalho-inferior ul li a {
	font: var(--fonte-secundaria-md-b);
	color: #fff;
	padding: 8px 0;
	border-radius: 5px;
}

.cabecalho-inferior ul li a:last-child::after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background: var(--cor-secundaria-200);
}

.cabecalho-inferior ul li a:hover {
	background: var(--cor-neutra-500);
}

@media (width <= 670px) {
	.cabecalho-inferior ul,
	.cabecalho-inferior ul li {
		gap: 4px;
	}
}

@media (width <= 510px) {
	.cabecalho-inferior > div {
		justify-content: center;
	}
}

/* INTRO */
.intro {
	background-image: url('../imgs/bg-intro@2x.jpg');
	background-size: cover;
	background-position: center;
	padding-top: 280px;
}

.intro > div {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	padding: 44px 4%;
}

.intro h1 {
	flex: 1;
	font: var(--fonte-primaria);
	color: #fff;
}

.intro form {
	display: flex;
}

.intro form input {
	display: block;
	padding: 15px 10px;
	border: 0px;
	border-radius: 5px 0 0 5px;
	min-width: 285px;
}

.intro form input::placeholder {
	font: var(--fonte-secundaria-md-b);
	color: var(--cor-neutra-200);
}

.intro form input:focus {
	outline: none;
}

.intro form button {
	display: flex;
	gap: 20px;
	align-items: center;
	justify-content: center;
	padding: 15px 10px;
	border-radius: 0 5px 5px 0;
	font: var(--fonte-secundaria-md-b);
	color: #fff;
	background: var(--cor-secundaria-200);
	cursor: pointer;
	border: 0;
}

@media (width <= 1080px) {
	.intro form {
		flex-direction: column;
	}

	.intro form input {
		border-radius: 5px 5px 0 0;
	}

	.intro form button {
		border-radius: 0 0 5px 5px;
	}

	.intro form button {
		font-size: var(--fonte-secundaria-sm-b);
	}
}

@media (width <= 510px) {
	.intro > div {
		flex-direction: column;
		align-items: start;
		gap: 20px;
	}

	.intro form {
		width: 100%;
	}
}
